<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>

<nav class="navbar navbar-light bg-primary">

  <div class="container-fluid">
    <h1 style="color:white">MH</h1>
    <div class="d-flex">
      <!-- <button (click)="clickAddPatient()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success"> Add Patient</button> -->
      <button routerLink="/dashboard" class="btn btn-success"> View Doctors</button>
      <button class="btn btn-success"> Edit profile</button>
      <button routerLink="/login" class="btn btn-danger"> Logout</button>



    </div>
  </div>
</nav>

<div class="form-container">

  <form form [formGroup]="formValue">

    <mat-form-field>
      <input formControlName="appointmentDate" name="appointmentDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select time</mat-label>
      <input matInput formControlName="appointmentTime" type="time" step="1800">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="patientEmail" name="patientEmail" matInput placeholder="Patient Email">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="doctorName" name="doctorName" matInput placeholder="Doctor Name">
    </mat-form-field>
    <button (click)="createAppointment()" mat-raised-button color="primary">Make Appointment</button>
  </form>

</div>
